.side-nav{
    height: 100vh;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.sideBar{
    padding: 0 !important;
}
body{
    background-color: #fff8e1
}
.addDeck, .deckBtn{
    width: 100%;
}
.deckBtn{
    margin-bottom: 5px;
}